
   .container{
    margin: auto;
    display: flex;
    flex-direction:column;
    width: 50vw;
   
    
}

body{
    background-color:darkseagreen;
}

#bill-amount{
    max-width: 60%;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
}

#cash-given{
    max-width: 60%;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;

}

#click{
    max-width: 40%;
    padding: 1rem;
    margin-top: 2rem;
    border: solid;
    border-radius: 1rem;
}