
   .container{
    margin: auto;
    display: flex;
    flex-direction:column;
    width: 50vw;
   
    
}

body{
    background-color:#5CDB95;
}

#bill-amount{
    max-width: 60%;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
}

#cash-given{
    max-width: 60%;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;

}

#click{
    max-width: 40%;
    padding: 1rem;
    margin-top: .5rem;
    border: solid;
    border-radius: 1rem;
}

#click2{

    max-width: 40%;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    margin-top: .5rem;
    
}

.update-change{
  margin-top: 2rem;
}

.note{
    background-color: white;
}

.number-of-notes{
    background-color: white;
}